# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.*.swp
*.bak
*.tar
*.tar.gz
*.gz
*.log

log
conf
data
tuqu_dev/data
tuqu_dev/conf

